<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.cn.jinty.sql.code.JobMapper">

    <!-- 查询结果映射 -->
    <resultMap id="baseResultMap" type="test.cn.jinty.sql.code.Job">
        <id column="id" property="id"/>
        <result column="job_type" property="jobType"/>
        <result column="job_desc" property="jobDesc"/>
        <result column="process_status" property="processStatus"/>
        <result column="result_status" property="resultStatus"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="duration" property="duration"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_by" property="createdBy"/>
        <result column="create_time" property="createTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="update_time" property="updateTime"/>
        
    </resultMap>

    <!-- 表的所有字段 -->
    <sql id="baseColumns">
        <trim suffixOverrides=",">
        `id`, `job_type`, `job_desc`, `process_status`, `result_status`, `start_time`, `end_time`, `duration`, `is_deleted`, `created_by`, `create_time`, `updated_by`, `update_time`, 
        </trim>
    </sql>

    <!-- 基础查询条件 -->
    <sql id="baseSelectCondition">
        <if test="param.id != null"> and `id` = #{param.id} </if>
        <if test="param.jobType != null"> and `job_type` = #{param.jobType} </if>
        <if test="param.jobDesc != null"> and `job_desc` = #{param.jobDesc} </if>
        <if test="param.processStatus != null"> and `process_status` = #{param.processStatus} </if>
        <if test="param.resultStatus != null"> and `result_status` = #{param.resultStatus} </if>
        <if test="param.startTime != null"> and `start_time` = #{param.startTime} </if>
        <if test="param.endTime != null"> and `end_time` = #{param.endTime} </if>
        <if test="param.duration != null"> and `duration` = #{param.duration} </if>
        <if test="param.isDeleted != null"> and `is_deleted` = #{param.isDeleted} </if>
        <if test="param.createdBy != null"> and `created_by` = #{param.createdBy} </if>
        <if test="param.createTime != null"> and `create_time` = #{param.createTime} </if>
        <if test="param.updatedBy != null"> and `updated_by` = #{param.updatedBy} </if>
        <if test="param.updateTime != null"> and `update_time` = #{param.updateTime} </if>
        
    </sql>

    <!-- 插入(字段都填充默认值) -->
    <insert id="insertDefault">
        insert into `job`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `job_type`, `job_desc`, `process_status`, `result_status`, `start_time`, `end_time`, `duration`, `is_deleted`, `created_by`, `create_time`, `updated_by`, `update_time`, 
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            '', '', 'INIT', 'PENDING', '0001-01-01 00:00:00', '0001-01-01 00:00:00', 0, 0, '', CURRENT_TIMESTAMP, '', CURRENT_TIMESTAMP, 
        </trim>
    </insert>

    <!-- 插入(忽略空字段) -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="item.id">
        insert into `job`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.jobType != null">`job_type`,</if>
            <if test="item.jobDesc != null">`job_desc`,</if>
            <if test="item.processStatus != null">`process_status`,</if>
            <if test="item.resultStatus != null">`result_status`,</if>
            <if test="item.startTime != null">`start_time`,</if>
            <if test="item.endTime != null">`end_time`,</if>
            <if test="item.duration != null">`duration`,</if>
            <if test="item.isDeleted != null">`is_deleted`,</if>
            <if test="item.createdBy != null">`created_by`,</if>
            <if test="item.createTime != null">`create_time`,</if>
            <if test="item.updatedBy != null">`updated_by`,</if>
            <if test="item.updateTime != null">`update_time`,</if>
            
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="item.jobType != null">#{item.jobType},</if>
            <if test="item.jobDesc != null">#{item.jobDesc},</if>
            <if test="item.processStatus != null">#{item.processStatus},</if>
            <if test="item.resultStatus != null">#{item.resultStatus},</if>
            <if test="item.startTime != null">#{item.startTime},</if>
            <if test="item.endTime != null">#{item.endTime},</if>
            <if test="item.duration != null">#{item.duration},</if>
            <if test="item.isDeleted != null">#{item.isDeleted},</if>
            <if test="item.createdBy != null">#{item.createdBy},</if>
            <if test="item.createTime != null">#{item.createTime},</if>
            <if test="item.updatedBy != null">#{item.updatedBy},</if>
            <if test="item.updateTime != null">#{item.updateTime},</if>
            
        </trim>
    </insert>

    <!-- 批量插入(空字段填充默认值) -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into `job`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `job_type`, `job_desc`, `process_status`, `result_status`, `start_time`, `end_time`, `duration`, `is_deleted`, `created_by`, `create_time`, `updated_by`, `update_time`, 
        </trim>
        values
        <foreach item="item" collection="list" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <choose><when test="item.jobType != null">#{item.jobType}, </when><otherwise>'', </otherwise></choose>
                <choose><when test="item.jobDesc != null">#{item.jobDesc}, </when><otherwise>'', </otherwise></choose>
                <choose><when test="item.processStatus != null">#{item.processStatus}, </when><otherwise>'INIT', </otherwise></choose>
                <choose><when test="item.resultStatus != null">#{item.resultStatus}, </when><otherwise>'PENDING', </otherwise></choose>
                <choose><when test="item.startTime != null">#{item.startTime}, </when><otherwise>'0001-01-01 00:00:00', </otherwise></choose>
                <choose><when test="item.endTime != null">#{item.endTime}, </when><otherwise>'0001-01-01 00:00:00', </otherwise></choose>
                <choose><when test="item.duration != null">#{item.duration}, </when><otherwise>0, </otherwise></choose>
                <choose><when test="item.isDeleted != null">#{item.isDeleted}, </when><otherwise>0, </otherwise></choose>
                <choose><when test="item.createdBy != null">#{item.createdBy}, </when><otherwise>'', </otherwise></choose>
                <choose><when test="item.createTime != null">#{item.createTime}, </when><otherwise>CURRENT_TIMESTAMP, </otherwise></choose>
                <choose><when test="item.updatedBy != null">#{item.updatedBy}, </when><otherwise>'', </otherwise></choose>
                <choose><when test="item.updateTime != null">#{item.updateTime}, </when><otherwise>CURRENT_TIMESTAMP, </otherwise></choose>
                
            </trim>
        </foreach>
    </insert>

    <!-- 根据主键更新(忽略空字段) -->
    <update id="updateById">
        update `job`
        <set>
            <if test="item.jobType != null"> `job_type` = #{item.jobType}, </if>
            <if test="item.jobDesc != null"> `job_desc` = #{item.jobDesc}, </if>
            <if test="item.processStatus != null"> `process_status` = #{item.processStatus}, </if>
            <if test="item.resultStatus != null"> `result_status` = #{item.resultStatus}, </if>
            <if test="item.startTime != null"> `start_time` = #{item.startTime}, </if>
            <if test="item.endTime != null"> `end_time` = #{item.endTime}, </if>
            <if test="item.duration != null"> `duration` = #{item.duration}, </if>
            <if test="item.isDeleted != null"> `is_deleted` = #{item.isDeleted}, </if>
            <if test="item.createdBy != null"> `created_by` = #{item.createdBy}, </if>
            <if test="item.createTime != null"> `create_time` = #{item.createTime}, </if>
            <if test="item.updatedBy != null"> `updated_by` = #{item.updatedBy}, </if>
            <if test="item.updateTime != null"> `update_time` = #{item.updateTime}, </if>
            
        </set>
        where `is_deleted` = 0 and `id` = #{item.id}
    </update>

    <!-- 根据条件更新(忽略空字段) -->
    <update id="updateByParam">
        update `job`
        <set>
            <if test="item.jobType != null"> `job_type` = #{item.jobType}, </if>
            <if test="item.jobDesc != null"> `job_desc` = #{item.jobDesc}, </if>
            <if test="item.processStatus != null"> `process_status` = #{item.processStatus}, </if>
            <if test="item.resultStatus != null"> `result_status` = #{item.resultStatus}, </if>
            <if test="item.startTime != null"> `start_time` = #{item.startTime}, </if>
            <if test="item.endTime != null"> `end_time` = #{item.endTime}, </if>
            <if test="item.duration != null"> `duration` = #{item.duration}, </if>
            <if test="item.isDeleted != null"> `is_deleted` = #{item.isDeleted}, </if>
            <if test="item.createdBy != null"> `created_by` = #{item.createdBy}, </if>
            <if test="item.createTime != null"> `create_time` = #{item.createTime}, </if>
            <if test="item.updatedBy != null"> `updated_by` = #{item.updatedBy}, </if>
            <if test="item.updateTime != null"> `update_time` = #{item.updateTime}, </if>
            
        </set>
        where 1 = 1
        <include refid="baseSelectCondition"/>
    </update>

    <!-- 根据主键批量逻辑删除 -->
    <update id="logicDeleteByIds">
        update `job`
        set `is_deleted` = 1, `updated_by` = #{updatedBy}
        where `is_deleted` = 0 and `id` in
        <foreach item="id" collection="ids" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <!-- 根据主键删除 -->
    <delete id="deleteById">
        delete from `job`
        where `id` = #{id}
    </delete>

    <!-- 根据主键批量删除 -->
    <delete id="deleteByIds">
        delete from `job`
        where `id` in
        <foreach item="id" collection="ids" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据主键查询 -->
    <select id="selectById" resultMap="baseResultMap">
        select <include refid="baseColumns"/>
        from `job`
        where `is_deleted` = 0 and `id` = #{id}
    </select>

    <!-- 根据主键批量查询 -->
    <select id="selectByIds" resultMap="baseResultMap">
        select <include refid="baseColumns"/>
        from `job`
        where `is_deleted` = 0 and `id` in
        <foreach item="id" collection="ids" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <!-- 查询(条件忽略空字段) -->
    <select id="selectByParam" resultMap="baseResultMap">
        select <include refid="baseColumns"/>
        from `job`
        where 1 = 1
        <include refid="baseSelectCondition"/>
    </select>

    <!-- 数量查询(条件忽略空字段) -->
    <select id="countByParam" resultType="java.lang.Integer">
        select count(1)
        from `job`
        where 1 = 1
        <include refid="baseSelectCondition"/>
    </select>

    <!-- 分页查询(条件忽略空字段) -->
    <select id="selectByPage" resultMap="baseResultMap">
        select <include refid="baseColumns"/>
        from `job`
        where 1 = 1
        <include refid="baseSelectCondition"/>
        order by id desc
        <if test="start != null and length != null">
            limit #{start}, #{length}
        </if>
    </select>

</mapper>
